html,
body {
  height: 60vh;
}

main {
  margin: 0;
  padding: 0;
}

.container {
  color: black;
}

@media (max-width: 740px) {

  html,
  body {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}

main {
  margin: 0;
  padding: 0;
}